
<div class="container marketing">


        <div class="row">
            <div class="col-md-4 text-center">

                <h2>Experienced Chefs</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Tailored made Dishes</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Our services</h2>

                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Finest Food</h2>
            <p class="lead">Welcome to enjoy authentic Italian food artfully tailored by our experienced chefs alongside traditional wine collection.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Dishes,</h2>
            <p class="lead">Look out for our chefs special dish because these dishes are not the once that you should be missing!</p>
        </div>

        <hr class="featurette-divider">
</div>
