



<div class="container marketing">


        <div class="row">
            <div class="col-md-4 text-center">

                <h2>Experienced Chefs</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Tailored made Dishes</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Our services</h2>

                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Finest Quality Food. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Dishes enjoyed for generations in villages throughout Italy inspire our menu, giving Buca its authentic Italian fare. We continue to innovate and create recipes beyond our traditional style by adding new menu items inspired by Northern and Southern Italian cuisine.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Dishes, <span class="text-muted">You can't deny</span></h2>
            <p class="lead">always welcoming and always serving up hearty diner food along with a mug of fresh hot coffee. So come on in anytime, park yourself in a comfortable booth, take a seat at the counter, whatever you want, because it won't take you long to understand why we're truly America's diner.</p>
        </div>

        <hr class="featurette-divider">
</div>