



<div class="container marketing">


        <div class="row">
            <div class="col-md-4 text-center">

                <h2>Finest Quality Cooks</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Dishes made specially for you</h2>
                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
            <div class="col-md-4 text-center">

                <h2>Specialities:</h2>

                <p><a class="btn btn-default" href="#">View details </a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Best food in terms of taste and quality. <span class="text-muted">You will lick your fingers.</span></h2>
            <p class="lead">Authentic Italian, prepared by Italian chefs.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">

            <h2 class="featurette-heading">Dishes, <span class="text-muted">you can't say no to!</span></h2>
            <p class="lead">Proper italian welcome, with italian ambience, in your neighborhood.</p>
        </div>

        <hr class="featurette-divider">
</div>